.rewards {
    color: #9fa819;
}

.blob-container {
    background-image: linear-gradient(to bottom right,rgb(196, 231, 99),rgb(238, 238, 226), rgb(238, 238, 226), transparent);
}

.blob1 {

    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: center;
    background-image: url(../../images/rewards-img/blob-1-opacity-72.gif);


}

.blob2 {

    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: center;
    background-image: url(../../images/rewards-img/blob-1-opacity-72.gif);


}

.blob3 {

    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: center;
    background-image: url(../../images/rewards-img/blob-1-opacity-72.gif);


}
.reward-content{
    position: relative;
}
.reward-content h1{
    position: absolute;
    color: rgb(238, 238, 226);
    transform: translate(-50%, -50%);
    font-size: 10em;
    font-weight: 700;
}
.reward-content h1:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 4px #000000;
}
.reward-content h2:nth-child(2)
{
    color: #b8c22a;
}

